extends page

block vars
  - let page = data.pages.index
  -
    // https://github.com/cfjedimaster/Serverless-Examples/tree/master/recaptcha
    const HOST = 'https://www.google.com/recaptcha/api.js',
          KEY = '6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB'

append head-start
  if !isArrEmpty(hosts)
    each host in hosts
      link(rel="preconnect" href=`https://${host}` crossorigin)
      link(rel="dns-prefetch" href=`https://${host}` crossorigin)

//- append head-end
  script(src=`${HOST}?render=${KEY}&onload=initRecaptcha&render=explicit`)
  script(type="text/javascript").
    var initRecaptcha = function() {
      grecaptcha.ready(function() {
        grecaptcha.execute('6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB', { action: "homepage" }).then(function(token) {
          document.getElementById('recaptcha_token').value = token;
        });
      });
    }

block content
  .fixed#canvas
  //- .background

  section.grid
    //- section.container.bg-overlay#hero(data-sec="hero")
      //- video-player.grid__full(basename="footage-10s-prod")
      //- noscript.grid__full
        +video({
          sourcePath: 'static',
          sourceName: 'teaser',
          poster: '',
          dims: [1920, 1080] })
      hgroup(data-hidden)
        h1(itemprop="name")= brand.name
        p(itemprop="description" role="subtitle")= brand.desc
      //- .grid__center.logo: include ../images/logo.svg

    section.container.hero#hero
      hgroup.grid__start-half.self.--start
        h1.flex-centered
          span.title(style={ '--wdth': 95.6, '--slnt': 0 })
            | Пираты #[br]
          span.title(style={ '--wdth': 54.6, '--slnt': 0 })
            | Каспийского #[br]
          span.title(style={ '--wdth': 150, '--slnt': 0 })
            | моря
          span.title(style={ '--wdth': 73.8, '--slnt': 0 })
            | подполье #[br]
          span.title(style={ '--wdth': 57.5, '--slnt': 0 })
            | московских #[br]
          span.title(style={ '--wdth': 67.5, '--slnt': 0 })
            | акваторий
      .grid__third-rhs.overlay
      //- +picture({
        class: ['grid__full'],
        path: 'hero',
        name: 'duotone-hires-sqr',
        format: 'webp',
        desc: '',
        hdim: 1920,
        vdim: 720,
        transform: false })
      //- .plane.grid__full
        img(
          src="../images/hero/duotone-hires.webp"
          crossorigin="anonymous"
          data-sampler="basicPlaneTexture")

    //- section.container#advert(data-id="advert")
      -
        const lineup = [
          {
            //- 'icon': MARKER,
            'text': 'kikin'
          },{
            //- 'icon': MARKER,
            'text': 'Maran'
          },{
            //- 'icon': MARKER,
            'text': 'Balu'
          },{
            //- 'icon': MARKER,
            'text': 'myhttp (Киров)'
          },{
            //- 'icon': MARKER,
            'text': 'Kraken'
          },{
            //- 'icon': MARKER,
            'text': 'Masha Psurtseva'
          },{
            //- 'icon': MARKER,
            'text': 'Mr. Khorne'
          }
        ]
      -
        const small = [
          {
            'icon': '*',
            'text': 'Первые печатные копии зина будут доступны для продажи на мероприятии'
          },{
            'icon': '*',
            'text': 'Предзаказать зин можно в разделе товаров'
          },{
            //- 'icon': '⁂',
            'icon': '*',
            'text': `Название вечеринки${spacedEmDash}отсылка к локации`
          }
        ]

      header.grid__third-lhs.sideways
        +head({
          class: [],
          level: 2,
          text: 'Krähennest' })
          //- split: 'chars' })
      section.grid__third-rhs.d-grid.spaced.--ada-md
        article.d-grid
          +head({
            class: [
              'font-display', 'text-white', 'text-left', 'subhead'],
            level: 3,
            text: ['Презентация зина*', 'по трипу Москва-Крым'] })
          | #[hr]
          p.copy.xcol.font-serif.text-white
            | Фотоархив, графика. Полное собрание лучшего, подведение итогов.
            | #[br]
            | Новая глава ПКМ: делимся новостями, анонсируем событие.
          .h3.font-serif.text-white
            |  В программе: танцы, ром.
          +cta({
            type: 'button',
            text:'Узнать локацию' })(
            data-js-anim='bg-gradient'
            onclick="document.querySelector('dialog').showModal()")
        article.d-grid
          time.h2.text-white.text-end(datetime="2024–02–17")
            | 17.02
            | #[br]
            | 21:00
          .flow.text-white
            +list({
              class: ['line-up', 'tracking-equals'],
              title: 'Line-up',
              items: lineup })
        +list({
          class: ['small-copy', 'text-white'],
          items: small })

        dialog.flow
          form.d-flex(method="dialog")
            p Мы вышлем координаты места и время проведения мероприятия ответным письмом.
            button.font-display.space-unset.flex-centered.sqr.force-tap-size
              //- span.icon(style=`--wdth: 150`) &times; <!-- × -->
              svg.icon#cross(
                viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1")
                path(d="M0,0 16,16 M16,0 0,16")
          +form({
            id: 'modal',
            class: '',
            endpoint: '9e8c2172',
            email: 'tickets@piratykaspiyskogo.online',
            multi: false,
            recaptcha: false })

    section.container.spaced.--ada-lg#about
      .grid__center
        +head({
          class: [],
          level: 2,
          text: 'О нас',
          split: 'chars' })
      .grid__content
        include ../images/arrows.svg
        include ../images/trip-tent.svg
        include ../images/vinyl-record.svg
        include ../images/boat-propeller.svg
        .tagline.flow.abs-centered.d-flex.flex-centered
          include ../images/logo.svg
          h5.font-serif
            | Пираты Каспийского#{spacedEmDash}подполье московских акваторий.
          //- +textLoop()
      article.flow.grid__content
        +head({
          class: ['font-serif'],
          level: 2,
          text: about.head,
          split: 'chars' })
        +head({
          class: ['font-serif', '--deck-narrow'],
          level: 5,
          text: [`Это наш магазин и${NBSP}платформа для${NBSP}анонса мероприятий, релизов и${NBSP}архив полезных материалов.`],
          split: 'chars' })

    // Лента блога || Blog feed
    section.container.spaced.--ada-md#posts(data-id="posts")
      .grid__center
        +head({
          class: [],
          level: 2,
          text: 'Бортовой журнал',
          split: 'chars' })
      ul.grid__full.horizontal-scroller.card-feed(
        style={ '--columns': 3 }
        aria-labelledby="#FeedLabel"
      )
        - let postCount = [0,1,2]
        each i in postCount
          li.item(id=`post${i+1}`)
            +card({
              class: 'anim-dashed-border',
              view: 'compact',
              media: true,
              time: true,
              action: true })
      //- .grid__center
        +cta({
          type: 'anchor',
          link: '',
          text: 'Больше новостей!'
        })(data-js-anim='bg-gradient' target='_blank')

    section.container.spaced.--ada-md#goods
      .grid__center
        +head({ class: [], level: 2, split: 'chars',
                text: 'Магазин' })
      ul.grid__full.horizontal-scroller.card-feed(
        style={ '--columns': 3 }
        aria-labelledby="#MerchLabel"
      )
        //-
          TODO: about, abstract, artform, offers, etc.
          div(itemscope itemtype="https://schema.org/VisualArtwork")
            h1(itemprop="name") «МИР-2»
        - let lotCount = [0,1,2]
        each i in lotCount
          li.item(id=`lot${i+1}`)
            +card({
              class: 'anim-dashed-border',
              view: 'compact',
              media: true,
              action: true,
              price: true,
              sink: true })
              ul.artwork-details
                li(itemprop="artist" itemscope itemtype="https://schema.org/Person")
                  | Автор: #[span(itemprop="name") ПКМ]
                li
                  | Размер: #[span.format A3]
                  | &lpar;#[span(itemprop="width" itemscope itemtype="https://schema.org/Distance") …]
                  | &times;
                  | #[span(itemprop="height" itemscope itemtype="https://schema.org/Distance") …]
                  | мм&rpar;

    section.container.spaced.--ada-md#locate
      .grid__center: +head({
        class: [],
        level: 2,
        text: 'Дислокация',
        split: 'chars' })
      +map({
        classes: 'grid__content',
        addSidebar: false })

    section.container.spaced.--ada-md#contact
      .grid__center.d-flex.flex-centered
        +head({
          class: [],
          level: 2,
          text: 'Пишите нам',
          split: 'chars' })
      .grid__content: +form({
        id: 'main',
        class: '',
        endpoint: '4c269348',
        email: data.meta.email,
        phone: data.meta.phone,
        message: 'Вы можете оставить тут несколько комментариев к заявке…',
        multi: true,
        recaptcha: true })
        span.form__label-text
          | Предмет интереса
        select#multi(name="multi" multiple size="2")
          //- tickets
          //- optgroup(label="Билеты")
            //- Krähennest • «Воронье гнездо»
            option(selected="true") Krähennest
            //- !{spacedEmDash}1200&nbsp;₽
            option Анклав
          //- physical assets — prints
          optgroup(label="Публикации")
            option(selected="true") Зин «МИР-2»
            //- !{spacedEmDash}100&nbsp;₽
          optgroup(label="Плакаты")
            option Плакат «Трагедия»
            //- !{spacedEmDash}800&nbsp;₽
            option Плакат «Гейрот»
            //- !{spacedEmDash}600&nbsp;₽

      //- offer: data.pages.offer.path[0]

    //- section.container.spaced.--ada-md#reviews
      .grid__center.d-grid.grid-items-center
        +head({ level: 2, text: 'Отзывы', split: 'chars' })
      .grid__content
        p.overline(
          itemprop="aggregateRating"
          itemscope itemtype="https://schema.org/AggregateRating"
          data-hidden)
          | #[span(itemprop="ratingValue")= 5] из 5 звёзд —
          | #[span(itemprop="reviewCount")= count(reviews)] отзывов на
          | #[+link({href: 'https://', text: ''})]
        +carousel({
          class: [],
          data: reviews,
          type: 'review',
          instance: 4 })

block scripts
