extends page

block vars
  - let page = data.pages.index
  -
    // https://github.com/cfjedimaster/Serverless-Examples/tree/master/recaptcha
    const HOST = 'https://www.google.com/recaptcha/api.js',
          KEY = '6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB'

append head-start
  if !isArrEmpty(hosts)
    each host in hosts
      link(rel="preconnect" href=`https://${host}` crossorigin)
      link(rel="dns-prefetch" href=`https://${host}` crossorigin)

//- append head-end
  script(src=`${HOST}?render=${KEY}&onload=initRecaptcha&render=explicit`)
  script(type="text/javascript").
    var initRecaptcha = function() {
      grecaptcha.ready(function() {
        grecaptcha.execute('6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB', { action: "homepage" }).then(function(token) {
          document.getElementById('recaptcha_token').value = token;
        });
      });
    }

mixin sec(props)
  - let { id, classes={}, attrs={}, ...rest } = props
  section(id= id class= classes)&attributes(attrs)
    block

block content
  //- TODO
    const sections = [{
      id: 'hero',
      attList: {
        'aria-label': 'hero banner',
        'data-sec': 'hero' }
    },{
      id: 'feed',
      attList: {
        'aria-label': 'all blog posts',
        'data-sec': 'news' }
    }]
  //- each item in sections
    +sec({
      id: item.id,
      classes: ['container', 'spaced', '--ada-md'],
      attList: {...attList},
    })

  section.grid
    //- section.container.bg-overlay#hero(data-sec="hero")
      //- video-player.grid__full(basename="footage-10s-prod")
      //- noscript.grid__full
        +video({
          sourcePath: 'static',
          sourceName: 'teaser',
          poster: '',
          dims: [1920, 1080] })

      hgroup(data-hidden)
        h1(itemprop="name")= brand.name
        p(itemprop="description" role="subtitle")= brand.desc

      //- .grid__center.logo: include ../images/logo.svg

    section.container.hero.popout#hero
      .grid__content.self.--start
        //- h1.title= brand.name
        h1.flex-centered.title
          span(style={
            'font-variation-settings': `'wdth' 96`,
          })
            | Пираты #[br]
          span(style={
            'font-variation-settings': `'wdth' 56`,
          })
            | Каспииского #[br]
          span(style={
            'font-variation-settings': `'wdth' 150`,
          })
            | моря

      .overlay#canvas
      .plane.grid__content
        img(
          src="../images/duotone.png"
          crossorigin="anonymous"
          data-sampler="basicPlaneTexture")
      //- +waves()
      //-
        include ../images/anomalous-motion-illusion.svg

    section.container.spaced.--ada-lg#advert(data-sec="ad")
      -
        const lineup = [
          {
            'icon': MARKER,
            'text': 'kikin'
          },{
            'icon': MARKER,
            'text': 'Maran'
          },{
            'icon': MARKER,
            'text': 'Balu'
          },{
            'icon': MARKER,
            'text': 'myhttp (Киров)'
          },{
            'icon': MARKER,
            'text': 'Kraken'
          },{
            'icon': MARKER,
            'text': 'Masha Psurtseva'
          },{
            'icon': MARKER,
            'text': 'Mr. Khorne'
          },
        ]

      .grid__start-half.d-grid.items-start
        +head({
          class: ['font-display'],
          level: 2,
          text: ['Krähennest', '17.02', '21:00'],
          split: 'chars' })

      article.flow.grid__end-half.--ada-lg.text-white
        h4.subhead
          //- | 17.02 в 21:00
          | Презентация зина* по трипу Москва-Крым
        p.ad-copy.text-white
          | Фотоархив, графика. Полное собрание лучшего, подведение итогов.
        p.ad-copy.text-white
          | Новая глава ПКМ: делимся новостями, анонсируем СОБЫТИЕ.
          | #[br]
          | В программе: танцы, ром.
        +list({
          class: ['line-up', 'uppercase'],
          title: 'Помощь в навигации:',
          items: lineup
        })
        .small-copy.text-white
          small
            | * первые печатные копии зина будут доступны для продажи на мероприятии
            | #[br]
          small
            | ** предзаказать зин можно в#{NBSP}
            b: +link({
              href: '/#goods',
              text: 'разделе товаров'
            })
            | #[br]
          small
            | *** название вечеринки#{spacedEmDash}отсылка к локации

        dialog.flow
          p Мы вышлем координаты места и время проведения мероприятия ответным письмом.
          +form({
            id: 'modal',
            class: '',
            endpoint: '9e8c2172',
            email: 'tickets@piratykaspiyskogo.online',
            multi: false,
            recaptcha: false })
          form(method="dialog")
            button: b ОК
        +cta({
          type: 'button',
          link: '',
          text: 'Оcтавить заявку'
        })(
          data-js-anim='bg-gradient'
          onclick="document.querySelector('dialog').showModal()")

    section.container.spaced.--ada-lg#about
      .grid__center
        +head({
          class: ['font-display', 'uppercase'],
          level: 2,
          text: 'О нас',
          split: 'chars' })
      //- article.flow.grid__content
        //- +head({
        //-   class: 'font-serif',
        //-   level: 2,
        //-   text: 'Пираты Каспийского—подполье московских акваторий.',
        //-   split: 'chars' })
        +head({
          class: 'font-serif',
          level: 2,
          text: about.head,
          split: 'chars' })
      .grid__content
        include ../images/arrows.svg
        include ../images/tripTent.svg
        include ../images/vinylRecord.svg
        include ../images/boatPropeller.svg
        .tagline.flow.abs-centered.d-flex.flex-centered
          include ../images/logo.svg
          h5.font-serif
            | Пираты Каспийского#{spacedEmDash}подполье московских акваторий.
          //- +textLoop()
      article.flow.grid__content
        +head({
          class: 'font-serif',
          level: 2,
          text: 'Это наш магазин и платформа для анонса мероприятий, релизов и архив полезных материалов.',
          split: 'chars' })
        //- p
          | Это наш магазин и платформа для анонса мероприятий, релизов и архив полезных материалов.
        //- +cta({
          type: 'anchor',
          link: '',
          text: ''
        //- })(data-js-anim='bg-gradient' target='_blank')

    // Лента блога || Blog feed
    section.container.spaced.--ada-md#posts(data-id="posts")
      .grid__center
        +head({ level: 2, text: 'Бортовой журнал', split: 'chars' })
      //- #FeedLabel
      ul.grid__full.horizontal-scroller.card-feed(
        style={ '--columns': 3 }
        aria-labelledby="#FeedLabel"
      )
        - let postCount = [0,1,2]
        each i in postCount
          li.item(id=`post${i+1}`)
            +card({
              style: 'elevated',
              view: 'compact',
              media: true,
              action: true
            })
      //- .grid__center
        +cta({
          type: 'anchor',
          link: '',
          text: 'Больше новостей!'
        })(data-js-anim='bg-gradient' target='_blank')

    section.container.spaced.--ada-md#goods
      .grid__center
        +head({ level: 2, text: 'Магазин', split: 'chars' })
      ul.grid__full.horizontal-scroller.card-feed(
        style={ '--columns': 3 }
        aria-labelledby="#FeedLabel"
      )
        - let lotCount = [0,1,2]
        each i in lotCount
          li.item(id=`lot${i+1}`)
            +card({
              style: 'elevated',
              view: 'compact',
              media: true,
              action: true
            })

    section.container.spaced.--ada-md#locate
      .grid__center: +head({
        class: ['uppercase'],
        level: 2,
        text: 'Дислокация',
        split: 'chars' })
      +map({
        classes: 'grid__full',
        addSidebar: false })

    section.container.spaced.--ada-md#contact
      .grid__center.d-flex.flex-centered
        +head({
          class: ['uppercase'],
          level: 2,
          text: 'Пишите нам',
          split: 'chars' })
      .grid__content: +form({
        id: 'main',
        class: '',
        endpoint: '4c269348',
        email: data.meta.email,
        phone: data.meta.phone,
        message: 'Вы можете оставить тут несколько комментариев к заявке…',
        multi: true,
        recaptcha: true })
        span.form__label-text
          | Предмет интереса
        select#multi(name="multi" multiple size="2")
          //- tickets
          //- optgroup(label="Билеты")
            //- Krähennest • «Воронье гнездо»
            option(selected="true") Krähennest
            //- !{spacedEmDash}1200&nbsp;₽
            option Анклав
          //- physical assets — prints
          optgroup(label="Публикации")
            option(selected="true") Зин «МИР-2»
            //- !{spacedEmDash}100&nbsp;₽
          optgroup(label="Плакаты")
            option Плакат «Трагедия»
            //- !{spacedEmDash}800&nbsp;₽
            option Плакат «Гейрот»
            //- !{spacedEmDash}600&nbsp;₽

      //- offer: data.pages.offer.path[0]

    //- section.container.spaced.--ada-md#reviews
      .grid__center.d-grid.grid-items-center
        +head({ level: 2, text: 'Отзывы', split: 'chars' })
      .grid__content
        p.overline(
          itemprop="aggregateRating"
          itemscope itemtype="https://schema.org/AggregateRating"
          data-hidden)
          | #[span(itemprop="ratingValue")= 5] из 5 звёзд —
          | #[span(itemprop="reviewCount")= count(reviews)] отзывов на
          | #[+link({href: 'https://', text: ''})]
        +carousel({
          class: [],
          data: reviews,
          type: 'review',
          instance: 4 })

block scripts
