-
  // Navigation anchors
  const hashLinks = [
    {
      'title': 'Главная',
      'path': '/'
    }, {
      'title': 'О нас',
      'path': '/#about'
    }, {
      'title': 'Магазин',
      'path': '/#goods'
    }, {
      'title': 'Журнал', // Бортовой журнал / Блог
      'path': 'https://journal.piratykaspiyskogo.online', // '/#feed'
    }, {
    //-   'title': 'Отзывы',
    //-   'path': '/#reviews'
    //- }, {
      'title': 'Контакты',
      'path': '/#contact'
    }
  ]
-
  const brand = {
    'name': 'Пираты Каспийского моря',
    'abbr': 'ПКМ',
    'desc': '',
  }
-
  // SMP(s)
  const social = [
    {
      'icon': 'vk',
      'href': 'https://vk.com/piratykaspiyskogo',
      'prop': 'sameAs'
    }, {
      'icon': 'ig',
      'href': 'https://instagram.com/piraty_kaspiyskogo',
      'prop': 'sameAs'
    //- }, {
    //-   'icon': 'tg',
    //-   'href': 'https://t.me/',
    //-   'prop': 'sameAs'
    }
  ]
-
  const contacts = [{
    'icon': 'at', // &commat;
    'email': {
      'to': data.meta.email,
      'subject': '',
      'body': ''
    }
  }]
-
  const invoiceDetails = {
    'saller': 'ИП [название]',
    'number': 'ИНН NNNNNNNNNNNN / ОГРНИП NNNNNNNNNNNNNNN',
    'adr': [
      'NNNNNN, МО, г. Москва, ул. [название], NN, кв. NN'
    ],
    'email': data.meta.email,
    'phone': data.meta.phone,
  }
-
  const tagline = `Пираты Каспийского${spacedEmDash}подполье московских акваторий.`
-
  // Intent • (Намерение | Цель | Замысел)
  const intent = `Пираты Каспийского${spacedEmDash}подполье московских акваторий. Нас объединяет любовь к${NBSP}водной технике, аутдору и${NBSP}хорошему саунду.`
-
  // Advertisement | preview
  const teaser = [
    // Вечеринка по случаю выпуска зина «МИР-2»
    `Вечеринка в честь выпуска «МИР2»${spacedEmDash}фотоархив, графика, путевые заметки${spacedEmDash}полное собрание лучших материалов.`,
    // Презентация зина по трипу Москва-Крым — фотоархив, графика, путевые заметки — полное собрание лучших материалов.
    `В программе:`,
    `Презентация зина (вы сможете приобрести 1-е печатные копии), подведение итогов и анонс грядущих событий.`,
    // … анонсирование предстоящих мероприятий
    `Танцуем, пьём ром, сбрасываем все якоря и продолжаем двигаться вперёд!`
  ]
-
  const lead = `17.02. Krähennest. Вечеринка по случаю выпуска зина «МИР-2»`
-
  // https://schema.org/about
  // About (desc)
  const about = {
    'id': 'О нас',
    'head': `Нас объединяет любовь к${NBSP}водной технике, аутдору и${NBSP}хорошему саунду.`
  }
-
  // https://schema.org/employees
  const employees = [
    {
      'desc': 'desc',
      'title': 'title',
      'text': ['text', 'text']
    }, {
      'desc': 'desc',
      'title': 'title',
      'text': ['text', 'text']
    }
  ]
-
  // Format:
  // • https://www.rfc-editor.org/rfc/rfc3339#section-5.6
  // • https://www.w3.org/TR/2014/REC-html5-20141028/text-level-semantics.html#the-time-element
  const reviews = [
    {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'title',
      'text': [
        `text`,
        `text`
      ],
      'user': { 'name': 'name' }
    }, {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'title',
      'text': [
        `text`,
        `text`
      ],
      'user': {
        'name': 'name',
        //- 'link': 'https://'
      }
    }
  ]
